In [1]:
#!pip install pyspark

In [2]:
import pyspark

to use pyspark create a pyspark session

In [3]:
from pyspark.sql import SparkSession
import findspark
findspark.init()

In [6]:
findspark.find()
import pyspark
findspark.find()

'C:\\Users\\fjf3rl\\Desktop\\Spark\\spark-3.3.0-bin-hadoop3'

In [7]:
spark=SparkSession.builder.master('local[*]').getOrCreate()

KeyboardInterrupt:

In [ ]:
spark

In [ ]:
df_pyspark = spark.read.csv('test1.csv', header= True, inferSchema= True)
df_pyspark.show()

In [ ]:
df_pyspark.printSchema()

In [ ]:
df_pyspark.dtypes

In [ ]:
type(df_pyspark)

In [ ]:
df_pyspark.head(5)

In [ ]:
df_pyspark.show()

In [ ]:
df_pyspark.select(['Name','age']).show()

In [ ]:
df_pyspark['Name']

In [ ]:
df_pyspark.describe().show()

In [ ]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [ ]:
df_pyspark.show()

In [ ]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [ ]:
df_pyspark.show()

In [ ]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

In [ ]:
df_pyspark.show()

### Pyspark Handling Missing Values
- Dropping Columns
- Dropping Rows
- Various Parameter In Dropping functionalities
- Handling Missing values by Mean, MEdian And Mode

In [9]:
spark=SparkSession.builder.appName('practice').getOrCreate()

In [17]:
df_spark = spark.read.csv('test2.csv', header=True, inferSchema=True)

In [18]:
df_spark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [13]:
df_spark.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [14]:
##any=how
df_spark.na.drop(how='any').show() #drop the row if any value is null

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [16]:
df_spark.na.drop(how='any', thresh=3).show() #atleast 3 non null values whould be there. Otherwise drop

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
+---------+---+----------+------+

In [ ]:
## filling missing values
df_spark.na.fille('missing values').show()

In [24]:
# fill missinf values with mean/median of the col
from pyspark.ml.feature import Imputer
import numpy
imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("mean")

In [26]:
# Add imputation cols to df
imputer.fit(df_spark).transform(df_spark).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|null|      null| 40000|         28|                 5|         40000|
|     null|  34|        10| 38000|         34|                10|         38000|
|     null|  36|      null|  null|         36|                 5|         25750|
+---------+----+----------+------+-----------+------------------+--------------+

### Pyspark Dataframes
- Filter Operation
- &,|,==
- ~

In [27]:
df_pyspark= spark.read.csv('test1.csv', header=True, inferSchema=True)

In [28]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [29]:
## Filter operation
###Salary of people less than 20000
df_pyspark.filter('Salary<=20000').show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [30]:
df_pyspark.filter('Salary<=20000').select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [33]:
df_pyspark.filter((df_pyspark['Salary']<=20000) & (df_pyspark['Salary']>15000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

### Pyspark GroupBy And Aggregate Functions

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Tutorial5').getOrCreate()

In [4]:
spark

In [5]:
df_spark = spark.read.csv('test3.csv', heinferSchema=chema=True, inferSchema=True)

In [6]:
df_spark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [ ]:
df_spark.printSchema()

In [8]:
##Group By
##groupby to find max salary by name
df_spark.groupby('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [9]:
##groupy departments to find max salary
df_spark.groupby('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [10]:
##groupy departments to find average salary
df_spark.groupby('Departments').avg().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

##  ML in Pyspark using MLIB

In [13]:
from pyspark.sql import SparkSession

In [14]:
spark = SparkSession.builder.appName('Tutorial6').getOrCreate()

In [15]:
spark

In [17]:
df_spark = spark.read.csv('test1.csv', header=True, inferSchema=True)

In [18]:
df_spark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [19]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [21]:
df_spark.columns

['Name', 'age', 'Experience', 'Salary']

In [25]:
## NOw in Pyspark we need to combine the independant features together into an Object called Vector Assembler
## [Age,Experience]----> new feature--->independent feature
from pyspark.ml.feature import VectorAssembler
featureAssembler = VectorAssembler(inputCols=['age', 'Experience'], outputCol='independent_features')

In [26]:
output = featureAssembler.transform(df_spark)

In [27]:
output.show()

+---------+---+----------+------+--------------------+
|     Name|age|Experience|Salary|independent_features|
+---------+---+----------+------+--------------------+
|    Krish| 31|        10| 30000|         [31.0,10.0]|
|Sudhanshu| 30|         8| 25000|          [30.0,8.0]|
|    Sunny| 29|         4| 20000|          [29.0,4.0]|
|     Paul| 24|         3| 20000|          [24.0,3.0]|
|   Harsha| 21|         1| 15000|          [21.0,1.0]|
|  Shubham| 23|         2| 18000|          [23.0,2.0]|
+---------+---+----------+------+--------------------+

In [28]:
final_training_data = output.select('independent_features', 'Salary')

In [29]:
final_training_data.show()

+--------------------+------+
|independent_features|Salary|
+--------------------+------+
|         [31.0,10.0]| 30000|
|          [30.0,8.0]| 25000|
|          [29.0,4.0]| 20000|
|          [24.0,3.0]| 20000|
|          [21.0,1.0]| 15000|
|          [23.0,2.0]| 18000|
+--------------------+------+

In [31]:
from pyspark.ml.regression import LinearRegression
#train-test split
train_data,test_data=final_training_data.randomSplit([0.75,0.25])

In [33]:
regressor=LinearRegression(featuresCol='independent_features', labelCol='Salary')
regressor=regressor.fit(train_data)

In [34]:
### Coefficients
regressor.coefficients

DenseVector([-263.7076, 1767.624])

In [35]:
### Intercepts
regressor.intercept

19919.060052212404

In [36]:
### Prediction
pred_results=regressor.evaluate(test_data)

In [37]:
pred_results.predictions.show()

+--------------------+------+-----------------+
|independent_features|Salary|       prediction|
+--------------------+------+-----------------+
|          [29.0,4.0]| 20000|19342.03655352618|
+--------------------+------+-----------------+

In [38]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(657.9634464738192, 432915.89689570636)